body {
  background-color: lavender;
}

button {
  cursor: pointer;
}

/* Text Styles */
h1 {
  font-family: "roc-grotesk-wide", "gopher", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 50px;
  margin-bottom: -20px;
  color: darkslateblue;
}

h2 {
  margin-bottom: -20px;
  font-family: "gopher", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
  color: #9f8ff8;
}

h3 {
  font-family: "gopher", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 35px;
  color: #9f8ff8;
}

p {
  font-family: "gopher", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: darkslateblue;

}

/* Introduction */
.introduction {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: lavender;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.introduction button {
  background: none;
  border: none;
  background: darkslateblue;
  color: #9f8ff8;
  padding: 20px;
  border-radius: 0px;
  font-size: 30px;
  font-family: "roc-grotesk-wide", "gopher", sans-serif;
  font-weight: 700;
  font-style: normal;
  transition: 0.3s;
}

.introduction button:hover {
  background: #9f8ff8;
  color: lavender;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: darkslateblue;
  border-radius: 0px;
  border-color: darkslateblue;
  border-width: 1px;
  border-style: solid;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9f8ff8;
  border-color: #9f8ff8;
}

* {
  box-sizing: border-box
}


/* Set height of body and the document to 100% */
body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}


/* Style tab links */
.tablink {
  background-color: #9f8ff8;
  color: darkslateblue;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
  font-family: "roc-grotesk-wide", "gopher", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}

.tablink:hover {
  background-color: lavender;
  color: darkslateblue;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: darkslateblue;
  display: none;
  padding: 100px 20px;
  height: 100%;

}

#Beginnings {
  background-color: lavender;
}

#Research {
  background-color: lavender;
}

#Work {
  background-color: lavender;
}

#Future {
  background-color: lavender;
}



/* The grid: Four equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Style the images inside the grid */
.column img {
  opacity: 1;
  cursor: pointer;
}

.column img:hover {
  border: 2px solid darkslateblue;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  position: relative;
  display: none;
}

/* Expanding image text
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
} */

/* Closable button inside the expanded image */
.closebtn {
  position: absolute;
  top: -5px;
  right: 15px;
  color: lavender;
  font-size: 60px;
  cursor: pointer;
  font-family: "gopher", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* Accordion */
.accordion {
  font-family: "gopher", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  background-color: #9f8ff8;
  color: lavender;
  cursor: pointer;
  padding: 10px 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  margin-top: 2px;
  margin-right: auto;
}

.active,
.accordion:hover {
  background-color: darkslateblue;
  color: #9f8ff8;
}

.panel {
  display: none;
  background-color: lavender;
  overflow: hidden;
}

/* Buttons */
.button {
  font-family: "gopher", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  background-color: #9f8ff8;
  color: lavender;
  border: none;
  text-align: left;
  padding: 10px 20px;
  text-decoration: none;
  width: 100%;
  display: inline-block;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: 4px;
  margin-bottom: 2px;

}

.button:hover {
  background-color: darkslateblue;
  color: #9f8ff8;
}

/* Gallery */
div.gallery {
  border: none;
  overflow: hidden;
  height: 50%;
}

div.gallery:hover {
  border: 2px solid darkslateblue;
}

div.gallery iframe {
  width: 100%;
  height: 100%;
  border: none;
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 33.333%;
}

/* Image Hover for first page */
.imageBeginnings:hover {
  border: 2px solid darkslateblue;
}

/* Conclusion */
/* Introduction */
.conclusionpage {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background: lavender;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.conclusion {
  font-family: "gopher", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  background-color: #9f8ff8;
  color: lavender;
  border: none;
  text-align: left;
  padding: 10px 20px;
  text-decoration: none;
  width: 100%;
  display: inline-block;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: 4px;
  margin-bottom: 2px;
}

.conclusion:hover {
  background-color: darkslateblue;
  color: #9f8ff8;
}
